.particle {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF, 0 0 20px #A5F1FF, 0 0 30px #A5F1FF, 0 0 40px #A5F1FF; }

@keyframes particle-animation-1 {
  50% {
    transform: translate3d(72vw, 327px, 44px); } }
.particle:nth-child(1) {
  animation: particle-animation-1 180s infinite ease-in-out;
  opacity: 0.50179;
  height: 6px;
  width: 6px;
  animation-delay: -0.6s;
  transform: translate3d(34vw, 337px, 68px);
  background: #A5F1FF; }

@keyframes particle-animation-2 {
  50% {
    transform: translate3d(57vw, 181px, 99px); } }
.particle:nth-child(2) {
  animation: particle-animation-2 180s infinite ease-in-out;
  opacity: 0.15357;
  height: 8px;
  width: 8px;
  animation-delay: -1.2s;
  transform: translate3d(30vw, 93px, 64px);
  background: #A5F1FF; }

@keyframes particle-animation-3 {
  50% {
    transform: translate3d(5vw, 65px, 18px); } }
.particle:nth-child(3) {
  animation: particle-animation-3 180s infinite ease-in-out;
  opacity: 0.79643;
  height: 10px;
  width: 10px;
  animation-delay: -1.8s;
  transform: translate3d(91vw, 67px, 71px);
  background: #A5F1FF; }

@keyframes particle-animation-4 {
  50% {
    transform: translate3d(90vw, 241px, 15px); } }
.particle:nth-child(4) {
  animation: particle-animation-4 180s infinite ease-in-out;
  opacity: 0.86786;
  height: 9px;
  width: 9px;
  animation-delay: -2.4s;
  transform: translate3d(59vw, 214px, 60px);
  background: #A5F1FF; }

@keyframes particle-animation-5 {
  50% {
    transform: translate3d(72vw, 9px, 4px); } }
.particle:nth-child(5) {
  animation: particle-animation-5 180s infinite ease-in-out;
  opacity: 0.76071;
  height: 9px;
  width: 9px;
  animation-delay: -3s;
  transform: translate3d(74vw, 320px, 8px);
  background: #A5F1FF; }

@keyframes particle-animation-6 {
  50% {
    transform: translate3d(45vw, 188px, 26px); } }
.particle:nth-child(6) {
  animation: particle-animation-6 180s infinite ease-in-out;
  opacity: 0.93929;
  height: 7px;
  width: 7px;
  animation-delay: -3.6s;
  transform: translate3d(12vw, 106px, 14px);
  background: #A5F1FF; }

@keyframes particle-animation-7 {
  50% {
    transform: translate3d(61vw, 141px, 20px); } }
.particle:nth-child(7) {
  animation: particle-animation-7 180s infinite ease-in-out;
  opacity: 0.18036;
  height: 6px;
  width: 6px;
  animation-delay: -4.2s;
  transform: translate3d(12vw, 38px, 44px);
  background: #A5F1FF; }

@keyframes particle-animation-8 {
  50% {
    transform: translate3d(80vw, 138px, 90px); } }
.particle:nth-child(8) {
  animation: particle-animation-8 180s infinite ease-in-out;
  opacity: 0.56429;
  height: 9px;
  width: 9px;
  animation-delay: -4.8s;
  transform: translate3d(86vw, 349px, 81px);
  background: #A5F1FF; }

@keyframes particle-animation-9 {
  50% {
    transform: translate3d(26vw, 113px, 38px); } }
.particle:nth-child(9) {
  animation: particle-animation-9 180s infinite ease-in-out;
  opacity: 0.86786;
  height: 7px;
  width: 7px;
  animation-delay: -5.4s;
  transform: translate3d(8vw, 59px, 90px);
  background: #A5F1FF; }

@keyframes particle-animation-10 {
  50% {
    transform: translate3d(83vw, 190px, 93px); } }
.particle:nth-child(10) {
  animation: particle-animation-10 180s infinite ease-in-out;
  opacity: 0.31429;
  height: 10px;
  width: 10px;
  animation-delay: -6s;
  transform: translate3d(77vw, 106px, 77px);
  background: #A5F1FF; }

@keyframes particle-animation-11 {
  50% {
    transform: translate3d(2vw, 274px, 39px); } }
.particle:nth-child(11) {
  animation: particle-animation-11 180s infinite ease-in-out;
  opacity: 0.55536;
  height: 10px;
  width: 10px;
  animation-delay: -6.6s;
  transform: translate3d(83vw, 114px, 18px);
  background: #A5F1FF; }

@keyframes particle-animation-12 {
  50% {
    transform: translate3d(8vw, 45px, 58px); } }
.particle:nth-child(12) {
  animation: particle-animation-12 180s infinite ease-in-out;
  opacity: 0.11786;
  height: 7px;
  width: 7px;
  animation-delay: -7.2s;
  transform: translate3d(82vw, 143px, 25px);
  background: #A5F1FF; }

@keyframes particle-animation-13 {
  50% {
    transform: translate3d(66vw, 185px, 37px); } }
.particle:nth-child(13) {
  animation: particle-animation-13 180s infinite ease-in-out;
  opacity: 0.56429;
  height: 6px;
  width: 6px;
  animation-delay: -7.8s;
  transform: translate3d(50vw, 69px, 30px);
  background: #A5F1FF; }

@keyframes particle-animation-14 {
  50% {
    transform: translate3d(71vw, 325px, 65px); } }
.particle:nth-child(14) {
  animation: particle-animation-14 180s infinite ease-in-out;
  opacity: 0.18036;
  height: 8px;
  width: 8px;
  animation-delay: -8.4s;
  transform: translate3d(42vw, 191px, 53px);
  background: #A5F1FF; }

@keyframes particle-animation-15 {
  50% {
    transform: translate3d(20vw, 360px, 24px); } }
.particle:nth-child(15) {
  animation: particle-animation-15 180s infinite ease-in-out;
  opacity: 0.475;
  height: 10px;
  width: 10px;
  animation-delay: -9s;
  transform: translate3d(34vw, 375px, 5px);
  background: #A5F1FF; }

@keyframes particle-animation-16 {
  50% {
    transform: translate3d(14vw, 138px, 59px); } }
.particle:nth-child(16) {
  animation: particle-animation-16 180s infinite ease-in-out;
  opacity: 0.89464;
  height: 8px;
  width: 8px;
  animation-delay: -9.6s;
  transform: translate3d(14vw, 136px, 77px);
  background: #A5F1FF; }

@keyframes particle-animation-17 {
  50% {
    transform: translate3d(15vw, 349px, 78px); } }
.particle:nth-child(17) {
  animation: particle-animation-17 180s infinite ease-in-out;
  opacity: 0.37679;
  height: 9px;
  width: 9px;
  animation-delay: -10.2s;
  transform: translate3d(93vw, 107px, 25px);
  background: #A5F1FF; }

@keyframes particle-animation-18 {
  50% {
    transform: translate3d(65vw, 291px, 49px); } }
.particle:nth-child(18) {
  animation: particle-animation-18 180s infinite ease-in-out;
  opacity: 0.81429;
  height: 7px;
  width: 7px;
  animation-delay: -10.8s;
  transform: translate3d(96vw, 38px, 23px);
  background: #A5F1FF; }

@keyframes particle-animation-19 {
  50% {
    transform: translate3d(60vw, 83px, 57px); } }
.particle:nth-child(19) {
  animation: particle-animation-19 180s infinite ease-in-out;
  opacity: 0.10893;
  height: 9px;
  width: 9px;
  animation-delay: -11.4s;
  transform: translate3d(24vw, 335px, 74px);
  background: #A5F1FF; }

@keyframes particle-animation-20 {
  50% {
    transform: translate3d(66vw, 313px, 60px); } }
.particle:nth-child(20) {
  animation: particle-animation-20 180s infinite ease-in-out;
  opacity: 0.81429;
  height: 8px;
  width: 8px;
  animation-delay: -12s;
  transform: translate3d(26vw, 86px, 30px);
  background: #A5F1FF; }

@keyframes particle-animation-21 {
  50% {
    transform: translate3d(77vw, 138px, 81px); } }
.particle:nth-child(21) {
  animation: particle-animation-21 180s infinite ease-in-out;
  opacity: 0.80536;
  height: 10px;
  width: 10px;
  animation-delay: -12.6s;
  transform: translate3d(52vw, 153px, 68px);
  background: #A5F1FF; }

@keyframes particle-animation-22 {
  50% {
    transform: translate3d(25vw, 50px, 40px); } }
.particle:nth-child(22) {
  animation: particle-animation-22 180s infinite ease-in-out;
  opacity: 0.58214;
  height: 9px;
  width: 9px;
  animation-delay: -13.2s;
  transform: translate3d(59vw, 155px, 57px);
  background: #A5F1FF; }

@keyframes particle-animation-23 {
  50% {
    transform: translate3d(94vw, 393px, 78px); } }
.particle:nth-child(23) {
  animation: particle-animation-23 180s infinite ease-in-out;
  opacity: 0.15357;
  height: 6px;
  width: 6px;
  animation-delay: -13.8s;
  transform: translate3d(83vw, 308px, 37px);
  background: #A5F1FF; }

@keyframes particle-animation-24 {
  50% {
    transform: translate3d(67vw, 333px, 55px); } }
.particle:nth-child(24) {
  animation: particle-animation-24 180s infinite ease-in-out;
  opacity: 0.18929;
  height: 8px;
  width: 8px;
  animation-delay: -14.4s;
  transform: translate3d(29vw, 310px, 26px);
  background: #A5F1FF; }

@keyframes particle-animation-25 {
  50% {
    transform: translate3d(81vw, 377px, 50px); } }
.particle:nth-child(25) {
  animation: particle-animation-25 180s infinite ease-in-out;
  opacity: 0.89464;
  height: 8px;
  width: 8px;
  animation-delay: -15s;
  transform: translate3d(59vw, 62px, 75px);
  background: #A5F1FF; }

@keyframes particle-animation-26 {
  50% {
    transform: translate3d(11vw, 358px, 16px); } }
.particle:nth-child(26) {
  animation: particle-animation-26 180s infinite ease-in-out;
  opacity: 0.99286;
  height: 7px;
  width: 7px;
  animation-delay: -15.6s;
  transform: translate3d(17vw, 155px, 15px);
  background: #A5F1FF; }

@keyframes particle-animation-27 {
  50% {
    transform: translate3d(67vw, 165px, 80px); } }
.particle:nth-child(27) {
  animation: particle-animation-27 180s infinite ease-in-out;
  opacity: 0.92143;
  height: 7px;
  width: 7px;
  animation-delay: -16.2s;
  transform: translate3d(40vw, 72px, 80px);
  background: #A5F1FF; }

@keyframes particle-animation-28 {
  50% {
    transform: translate3d(19vw, 328px, 68px); } }
.particle:nth-child(28) {
  animation: particle-animation-28 180s infinite ease-in-out;
  opacity: 0.60893;
  height: 7px;
  width: 7px;
  animation-delay: -16.8s;
  transform: translate3d(58vw, 61px, 94px);
  background: #A5F1FF; }

@keyframes particle-animation-29 {
  50% {
    transform: translate3d(45vw, 350px, 55px); } }
.particle:nth-child(29) {
  animation: particle-animation-29 180s infinite ease-in-out;
  opacity: 0.79643;
  height: 8px;
  width: 8px;
  animation-delay: -17.4s;
  transform: translate3d(28vw, 52px, 66px);
  background: #A5F1FF; }

@keyframes particle-animation-30 {
  50% {
    transform: translate3d(31vw, 199px, 49px); } }
.particle:nth-child(30) {
  animation: particle-animation-30 180s infinite ease-in-out;
  opacity: 0.58214;
  height: 8px;
  width: 8px;
  animation-delay: -18s;
  transform: translate3d(21vw, 380px, 45px);
  background: #A5F1FF; }

@keyframes particle-animation-31 {
  50% {
    transform: translate3d(99vw, 53px, 93px); } }
.particle:nth-child(31) {
  animation: particle-animation-31 180s infinite ease-in-out;
  opacity: 0.54643;
  height: 7px;
  width: 7px;
  animation-delay: -18.6s;
  transform: translate3d(40vw, 165px, 16px);
  background: #A5F1FF; }

@keyframes particle-animation-32 {
  50% {
    transform: translate3d(45vw, 365px, 47px); } }
.particle:nth-child(32) {
  animation: particle-animation-32 180s infinite ease-in-out;
  opacity: 0.21607;
  height: 8px;
  width: 8px;
  animation-delay: -19.2s;
  transform: translate3d(64vw, 99px, 87px);
  background: #A5F1FF; }

@keyframes particle-animation-33 {
  50% {
    transform: translate3d(99vw, 248px, 62px); } }
.particle:nth-child(33) {
  animation: particle-animation-33 180s infinite ease-in-out;
  opacity: 0.18929;
  height: 9px;
  width: 9px;
  animation-delay: -19.8s;
  transform: translate3d(56vw, 313px, 37px);
  background: #A5F1FF; }

@keyframes particle-animation-34 {
  50% {
    transform: translate3d(87vw, 366px, 5px); } }
.particle:nth-child(34) {
  animation: particle-animation-34 180s infinite ease-in-out;
  opacity: 0.84107;
  height: 9px;
  width: 9px;
  animation-delay: -20.4s;
  transform: translate3d(66vw, 83px, 7px);
  background: #A5F1FF; }

@keyframes particle-animation-35 {
  50% {
    transform: translate3d(23vw, 102px, 20px); } }
.particle:nth-child(35) {
  animation: particle-animation-35 180s infinite ease-in-out;
  opacity: 0.64464;
  height: 7px;
  width: 7px;
  animation-delay: -21s;
  transform: translate3d(44vw, 255px, 85px);
  background: #A5F1FF; }

@keyframes particle-animation-36 {
  50% {
    transform: translate3d(56vw, 341px, 53px); } }
.particle:nth-child(36) {
  animation: particle-animation-36 180s infinite ease-in-out;
  opacity: 0.75179;
  height: 10px;
  width: 10px;
  animation-delay: -21.6s;
  transform: translate3d(28vw, 194px, 10px);
  background: #A5F1FF; }

@keyframes particle-animation-37 {
  50% {
    transform: translate3d(96vw, 235px, 31px); } }
.particle:nth-child(37) {
  animation: particle-animation-37 180s infinite ease-in-out;
  opacity: 0.49286;
  height: 7px;
  width: 7px;
  animation-delay: -22.2s;
  transform: translate3d(13vw, 168px, 52px);
  background: #A5F1FF; }

@keyframes particle-animation-38 {
  50% {
    transform: translate3d(86vw, 127px, 48px); } }
.particle:nth-child(38) {
  animation: particle-animation-38 180s infinite ease-in-out;
  opacity: 0.57321;
  height: 9px;
  width: 9px;
  animation-delay: -22.8s;
  transform: translate3d(3vw, 246px, 57px);
  background: #A5F1FF; }

@keyframes particle-animation-39 {
  50% {
    transform: translate3d(22vw, 144px, 78px); } }
.particle:nth-child(39) {
  animation: particle-animation-39 180s infinite ease-in-out;
  opacity: 0.29643;
  height: 7px;
  width: 7px;
  animation-delay: -23.4s;
  transform: translate3d(48vw, 53px, 44px);
  background: #A5F1FF; }

@keyframes particle-animation-40 {
  50% {
    transform: translate3d(2vw, 209px, 72px); } }
.particle:nth-child(40) {
  animation: particle-animation-40 180s infinite ease-in-out;
  opacity: 0.18036;
  height: 9px;
  width: 9px;
  animation-delay: -24s;
  transform: translate3d(62vw, 50px, 82px);
  background: #A5F1FF; }

@keyframes particle-animation-41 {
  50% {
    transform: translate3d(19vw, 258px, 50px); } }
.particle:nth-child(41) {
  animation: particle-animation-41 180s infinite ease-in-out;
  opacity: 0.74286;
  height: 9px;
  width: 9px;
  animation-delay: -24.6s;
  transform: translate3d(79vw, 309px, 87px);
  background: #A5F1FF; }

@keyframes particle-animation-42 {
  50% {
    transform: translate3d(99vw, 1px, 97px); } }
.particle:nth-child(42) {
  animation: particle-animation-42 180s infinite ease-in-out;
  opacity: 0.87679;
  height: 8px;
  width: 8px;
  animation-delay: -25.2s;
  transform: translate3d(70vw, 108px, 25px);
  background: #A5F1FF; }

@keyframes particle-animation-43 {
  50% {
    transform: translate3d(73vw, 400px, 84px); } }
.particle:nth-child(43) {
  animation: particle-animation-43 180s infinite ease-in-out;
  opacity: 0.4125;
  height: 9px;
  width: 9px;
  animation-delay: -25.8s;
  transform: translate3d(41vw, 375px, 33px);
  background: #A5F1FF; }

@keyframes particle-animation-44 {
  50% {
    transform: translate3d(44vw, 129px, 29px); } }
.particle:nth-child(44) {
  animation: particle-animation-44 180s infinite ease-in-out;
  opacity: 0.79643;
  height: 10px;
  width: 10px;
  animation-delay: -26.4s;
  transform: translate3d(75vw, 263px, 75px);
  background: #A5F1FF; }

@keyframes particle-animation-45 {
  50% {
    transform: translate3d(96vw, 207px, 80px); } }
.particle:nth-child(45) {
  animation: particle-animation-45 180s infinite ease-in-out;
  opacity: 0.57321;
  height: 9px;
  width: 9px;
  animation-delay: -27s;
  transform: translate3d(38vw, 167px, 56px);
  background: #A5F1FF; }

@keyframes particle-animation-46 {
  50% {
    transform: translate3d(12vw, 6px, 81px); } }
.particle:nth-child(46) {
  animation: particle-animation-46 180s infinite ease-in-out;
  opacity: 0.74286;
  height: 7px;
  width: 7px;
  animation-delay: -27.6s;
  transform: translate3d(27vw, 21px, 14px);
  background: #A5F1FF; }

@keyframes particle-animation-47 {
  50% {
    transform: translate3d(98vw, 142px, 65px); } }
.particle:nth-child(47) {
  animation: particle-animation-47 180s infinite ease-in-out;
  opacity: 0.35893;
  height: 8px;
  width: 8px;
  animation-delay: -28.2s;
  transform: translate3d(85vw, 331px, 6px);
  background: #A5F1FF; }

@keyframes particle-animation-48 {
  50% {
    transform: translate3d(71vw, 265px, 22px); } }
.particle:nth-child(48) {
  animation: particle-animation-48 180s infinite ease-in-out;
  opacity: 0.6;
  height: 6px;
  width: 6px;
  animation-delay: -28.8s;
  transform: translate3d(52vw, 108px, 3px);
  background: #A5F1FF; }

@keyframes particle-animation-49 {
  50% {
    transform: translate3d(3vw, 217px, 36px); } }
.particle:nth-child(49) {
  animation: particle-animation-49 180s infinite ease-in-out;
  opacity: 0.61786;
  height: 6px;
  width: 6px;
  animation-delay: -29.4s;
  transform: translate3d(35vw, 328px, 33px);
  background: #A5F1FF; }

@keyframes particle-animation-50 {
  50% {
    transform: translate3d(19vw, 395px, 64px); } }
.particle:nth-child(50) {
  animation: particle-animation-50 180s infinite ease-in-out;
  opacity: 0.39464;
  height: 6px;
  width: 6px;
  animation-delay: -30s;
  transform: translate3d(65vw, 241px, 18px);
  background: #A5F1FF; }

@keyframes particle-animation-51 {
  50% {
    transform: translate3d(70vw, 17px, 81px); } }
.particle:nth-child(51) {
  animation: particle-animation-51 180s infinite ease-in-out;
  opacity: 0.18929;
  height: 10px;
  width: 10px;
  animation-delay: -30.6s;
  transform: translate3d(64vw, 104px, 33px);
  background: #A5F1FF; }

@keyframes particle-animation-52 {
  50% {
    transform: translate3d(55vw, 179px, 14px); } }
.particle:nth-child(52) {
  animation: particle-animation-52 180s infinite ease-in-out;
  opacity: 0.95714;
  height: 7px;
  width: 7px;
  animation-delay: -31.2s;
  transform: translate3d(97vw, 329px, 93px);
  background: #A5F1FF; }

@keyframes particle-animation-53 {
  50% {
    transform: translate3d(71vw, 274px, 94px); } }
.particle:nth-child(53) {
  animation: particle-animation-53 180s infinite ease-in-out;
  opacity: 0.27857;
  height: 9px;
  width: 9px;
  animation-delay: -31.8s;
  transform: translate3d(92vw, 290px, 14px);
  background: #A5F1FF; }

@keyframes particle-animation-54 {
  50% {
    transform: translate3d(23vw, 70px, 96px); } }
.particle:nth-child(54) {
  animation: particle-animation-54 180s infinite ease-in-out;
  opacity: 0.51071;
  height: 9px;
  width: 9px;
  animation-delay: -32.4s;
  transform: translate3d(69vw, 121px, 87px);
  background: #A5F1FF; }

@keyframes particle-animation-55 {
  50% {
    transform: translate3d(32vw, 181px, 52px); } }
.particle:nth-child(55) {
  animation: particle-animation-55 180s infinite ease-in-out;
  opacity: 0.40357;
  height: 6px;
  width: 6px;
  animation-delay: -33s;
  transform: translate3d(2vw, 108px, 99px);
  background: #A5F1FF; }

@keyframes particle-animation-56 {
  50% {
    transform: translate3d(31vw, 383px, 14px); } }
.particle:nth-child(56) {
  animation: particle-animation-56 180s infinite ease-in-out;
  opacity: 0.19821;
  height: 6px;
  width: 6px;
  animation-delay: -33.6s;
  transform: translate3d(47vw, 9px, 26px);
  background: #A5F1FF; }

@keyframes particle-animation-57 {
  50% {
    transform: translate3d(83vw, 345px, 40px); } }
.particle:nth-child(57) {
  animation: particle-animation-57 180s infinite ease-in-out;
  opacity: 0.9125;
  height: 10px;
  width: 10px;
  animation-delay: -34.2s;
  transform: translate3d(66vw, 81px, 48px);
  background: #A5F1FF; }

@keyframes particle-animation-58 {
  50% {
    transform: translate3d(7vw, 289px, 84px); } }
.particle:nth-child(58) {
  animation: particle-animation-58 180s infinite ease-in-out;
  opacity: 0.51071;
  height: 8px;
  width: 8px;
  animation-delay: -34.8s;
  transform: translate3d(91vw, 55px, 84px);
  background: #A5F1FF; }

@keyframes particle-animation-59 {
  50% {
    transform: translate3d(38vw, 357px, 73px); } }
.particle:nth-child(59) {
  animation: particle-animation-59 180s infinite ease-in-out;
  opacity: 0.27857;
  height: 6px;
  width: 6px;
  animation-delay: -35.4s;
  transform: translate3d(56vw, 309px, 88px);
  background: #A5F1FF; }

@keyframes particle-animation-60 {
  50% {
    transform: translate3d(72vw, 171px, 14px); } }
.particle:nth-child(60) {
  animation: particle-animation-60 180s infinite ease-in-out;
  opacity: 0.84107;
  height: 9px;
  width: 9px;
  animation-delay: -36s;
  transform: translate3d(56vw, 25px, 22px);
  background: #A5F1FF; }

@keyframes particle-animation-61 {
  50% {
    transform: translate3d(61vw, 176px, 45px); } }
.particle:nth-child(61) {
  animation: particle-animation-61 180s infinite ease-in-out;
  opacity: 0.35;
  height: 10px;
  width: 10px;
  animation-delay: -36.6s;
  transform: translate3d(34vw, 354px, 40px);
  background: #A5F1FF; }

@keyframes particle-animation-62 {
  50% {
    transform: translate3d(98vw, 187px, 33px); } }
.particle:nth-child(62) {
  animation: particle-animation-62 180s infinite ease-in-out;
  opacity: 0.44821;
  height: 9px;
  width: 9px;
  animation-delay: -37.2s;
  transform: translate3d(58vw, 93px, 66px);
  background: #A5F1FF; }

@keyframes particle-animation-63 {
  50% {
    transform: translate3d(78vw, 17px, 45px); } }
.particle:nth-child(63) {
  animation: particle-animation-63 180s infinite ease-in-out;
  opacity: 0.57321;
  height: 7px;
  width: 7px;
  animation-delay: -37.8s;
  transform: translate3d(78vw, 368px, 70px);
  background: #A5F1FF; }

@keyframes particle-animation-64 {
  50% {
    transform: translate3d(52vw, 84px, 87px); } }
.particle:nth-child(64) {
  animation: particle-animation-64 180s infinite ease-in-out;
  opacity: 0.6625;
  height: 7px;
  width: 7px;
  animation-delay: -38.4s;
  transform: translate3d(12vw, 203px, 66px);
  background: #A5F1FF; }

@keyframes particle-animation-65 {
  50% {
    transform: translate3d(61vw, 120px, 34px); } }
.particle:nth-child(65) {
  animation: particle-animation-65 180s infinite ease-in-out;
  opacity: 0.12679;
  height: 10px;
  width: 10px;
  animation-delay: -39s;
  transform: translate3d(8vw, 241px, 74px);
  background: #A5F1FF; }

@keyframes particle-animation-66 {
  50% {
    transform: translate3d(22vw, 383px, 21px); } }
.particle:nth-child(66) {
  animation: particle-animation-66 180s infinite ease-in-out;
  opacity: 0.11786;
  height: 7px;
  width: 7px;
  animation-delay: -39.6s;
  transform: translate3d(50vw, 327px, 56px);
  background: #A5F1FF; }

@keyframes particle-animation-67 {
  50% {
    transform: translate3d(3vw, 320px, 42px); } }
.particle:nth-child(67) {
  animation: particle-animation-67 180s infinite ease-in-out;
  opacity: 0.55536;
  height: 9px;
  width: 9px;
  animation-delay: -40.2s;
  transform: translate3d(29vw, 144px, 76px);
  background: #A5F1FF; }

@keyframes particle-animation-68 {
  50% {
    transform: translate3d(32vw, 361px, 75px); } }
.particle:nth-child(68) {
  animation: particle-animation-68 180s infinite ease-in-out;
  opacity: 0.2875;
  height: 10px;
  width: 10px;
  animation-delay: -40.8s;
  transform: translate3d(20vw, 90px, 24px);
  background: #A5F1FF; }

@keyframes particle-animation-69 {
  50% {
    transform: translate3d(23vw, 86px, 82px); } }
.particle:nth-child(69) {
  animation: particle-animation-69 180s infinite ease-in-out;
  opacity: 0.2875;
  height: 7px;
  width: 7px;
  animation-delay: -41.4s;
  transform: translate3d(20vw, 123px, 37px);
  background: #A5F1FF; }

@keyframes particle-animation-70 {
  50% {
    transform: translate3d(73vw, 260px, 66px); } }
.particle:nth-child(70) {
  animation: particle-animation-70 180s infinite ease-in-out;
  opacity: 0.4125;
  height: 8px;
  width: 8px;
  animation-delay: -42s;
  transform: translate3d(16vw, 396px, 54px);
  background: #A5F1FF; }

@keyframes particle-animation-71 {
  50% {
    transform: translate3d(49vw, 14px, 30px); } }
.particle:nth-child(71) {
  animation: particle-animation-71 180s infinite ease-in-out;
  opacity: 0.475;
  height: 9px;
  width: 9px;
  animation-delay: -42.6s;
  transform: translate3d(42vw, 17px, 61px);
  background: #A5F1FF; }

@keyframes particle-animation-72 {
  50% {
    transform: translate3d(2vw, 345px, 34px); } }
.particle:nth-child(72) {
  animation: particle-animation-72 180s infinite ease-in-out;
  opacity: 0.71607;
  height: 10px;
  width: 10px;
  animation-delay: -43.2s;
  transform: translate3d(13vw, 391px, 80px);
  background: #A5F1FF; }

@keyframes particle-animation-73 {
  50% {
    transform: translate3d(46vw, 173px, 84px); } }
.particle:nth-child(73) {
  animation: particle-animation-73 180s infinite ease-in-out;
  opacity: 0.35;
  height: 10px;
  width: 10px;
  animation-delay: -43.8s;
  transform: translate3d(89vw, 31px, 76px);
  background: #A5F1FF; }

@keyframes particle-animation-74 {
  50% {
    transform: translate3d(81vw, 316px, 90px); } }
.particle:nth-child(74) {
  animation: particle-animation-74 180s infinite ease-in-out;
  opacity: 0.35893;
  height: 6px;
  width: 6px;
  animation-delay: -44.4s;
  transform: translate3d(2vw, 165px, 72px);
  background: #A5F1FF; }

@keyframes particle-animation-75 {
  50% {
    transform: translate3d(42vw, 237px, 72px); } }
.particle:nth-child(75) {
  animation: particle-animation-75 180s infinite ease-in-out;
  opacity: 0.32321;
  height: 7px;
  width: 7px;
  animation-delay: -45s;
  transform: translate3d(24vw, 181px, 62px);
  background: #A5F1FF; }

@keyframes particle-animation-76 {
  50% {
    transform: translate3d(5vw, 355px, 27px); } }
.particle:nth-child(76) {
  animation: particle-animation-76 180s infinite ease-in-out;
  opacity: 0.65357;
  height: 7px;
  width: 7px;
  animation-delay: -45.6s;
  transform: translate3d(85vw, 182px, 76px);
  background: #A5F1FF; }

@keyframes particle-animation-77 {
  50% {
    transform: translate3d(51vw, 127px, 11px); } }
.particle:nth-child(77) {
  animation: particle-animation-77 180s infinite ease-in-out;
  opacity: 0.57321;
  height: 8px;
  width: 8px;
  animation-delay: -46.2s;
  transform: translate3d(77vw, 121px, 72px);
  background: #A5F1FF; }

@keyframes particle-animation-78 {
  50% {
    transform: translate3d(1vw, 395px, 71px); } }
.particle:nth-child(78) {
  animation: particle-animation-78 180s infinite ease-in-out;
  opacity: 0.51071;
  height: 10px;
  width: 10px;
  animation-delay: -46.8s;
  transform: translate3d(82vw, 3px, 38px);
  background: #A5F1FF; }

@keyframes particle-animation-79 {
  50% {
    transform: translate3d(89vw, 132px, 69px); } }
.particle:nth-child(79) {
  animation: particle-animation-79 180s infinite ease-in-out;
  opacity: 0.84107;
  height: 7px;
  width: 7px;
  animation-delay: -47.4s;
  transform: translate3d(14vw, 161px, 24px);
  background: #A5F1FF; }

@keyframes particle-animation-80 {
  50% {
    transform: translate3d(72vw, 199px, 32px); } }
.particle:nth-child(80) {
  animation: particle-animation-80 180s infinite ease-in-out;
  opacity: 0.6625;
  height: 8px;
  width: 8px;
  animation-delay: -48s;
  transform: translate3d(5vw, 190px, 44px);
  background: #A5F1FF; }

@keyframes particle-animation-81 {
  50% {
    transform: translate3d(29vw, 243px, 74px); } }
.particle:nth-child(81) {
  animation: particle-animation-81 180s infinite ease-in-out;
  opacity: 0.26071;
  height: 6px;
  width: 6px;
  animation-delay: -48.6s;
  transform: translate3d(75vw, 325px, 45px);
  background: #A5F1FF; }

@keyframes particle-animation-82 {
  50% {
    transform: translate3d(20vw, 210px, 20px); } }
.particle:nth-child(82) {
  animation: particle-animation-82 180s infinite ease-in-out;
  opacity: 0.60893;
  height: 9px;
  width: 9px;
  animation-delay: -49.2s;
  transform: translate3d(61vw, 177px, 96px);
  background: #A5F1FF; }

@keyframes particle-animation-83 {
  50% {
    transform: translate3d(68vw, 3px, 88px); } }
.particle:nth-child(83) {
  animation: particle-animation-83 180s infinite ease-in-out;
  opacity: 0.725;
  height: 10px;
  width: 10px;
  animation-delay: -49.8s;
  transform: translate3d(3vw, 62px, 33px);
  background: #A5F1FF; }

@keyframes particle-animation-84 {
  50% {
    transform: translate3d(46vw, 140px, 99px); } }
.particle:nth-child(84) {
  animation: particle-animation-84 180s infinite ease-in-out;
  opacity: 0.76071;
  height: 9px;
  width: 9px;
  animation-delay: -50.4s;
  transform: translate3d(1vw, 234px, 79px);
  background: #A5F1FF; }

@keyframes particle-animation-85 {
  50% {
    transform: translate3d(65vw, 242px, 36px); } }
.particle:nth-child(85) {
  animation: particle-animation-85 180s infinite ease-in-out;
  opacity: 0.74286;
  height: 9px;
  width: 9px;
  animation-delay: -51s;
  transform: translate3d(78vw, 324px, 37px);
  background: #A5F1FF; }

@keyframes particle-animation-86 {
  50% {
    transform: translate3d(52vw, 135px, 63px); } }
.particle:nth-child(86) {
  animation: particle-animation-86 180s infinite ease-in-out;
  opacity: 0.79643;
  height: 7px;
  width: 7px;
  animation-delay: -51.6s;
  transform: translate3d(98vw, 368px, 91px);
  background: #A5F1FF; }

@keyframes particle-animation-87 {
  50% {
    transform: translate3d(3vw, 304px, 88px); } }
.particle:nth-child(87) {
  animation: particle-animation-87 180s infinite ease-in-out;
  opacity: 0.88571;
  height: 6px;
  width: 6px;
  animation-delay: -52.2s;
  transform: translate3d(21vw, 202px, 46px);
  background: #A5F1FF; }

@keyframes particle-animation-88 {
  50% {
    transform: translate3d(60vw, 16px, 76px); } }
.particle:nth-child(88) {
  animation: particle-animation-88 180s infinite ease-in-out;
  opacity: 0.62679;
  height: 10px;
  width: 10px;
  animation-delay: -52.8s;
  transform: translate3d(59vw, 25px, 74px);
  background: #A5F1FF; }

@keyframes particle-animation-89 {
  50% {
    transform: translate3d(9vw, 160px, 80px); } }
.particle:nth-child(89) {
  animation: particle-animation-89 180s infinite ease-in-out;
  opacity: 0.92143;
  height: 10px;
  width: 10px;
  animation-delay: -53.4s;
  transform: translate3d(26vw, 349px, 90px);
  background: #A5F1FF; }

@keyframes particle-animation-90 {
  50% {
    transform: translate3d(4vw, 347px, 6px); } }
.particle:nth-child(90) {
  animation: particle-animation-90 180s infinite ease-in-out;
  opacity: 0.34107;
  height: 7px;
  width: 7px;
  animation-delay: -54s;
  transform: translate3d(47vw, 292px, 36px);
  background: #A5F1FF; }

@keyframes particle-animation-91 {
  50% {
    transform: translate3d(52vw, 297px, 88px); } }
.particle:nth-child(91) {
  animation: particle-animation-91 180s infinite ease-in-out;
  opacity: 0.89464;
  height: 7px;
  width: 7px;
  animation-delay: -54.6s;
  transform: translate3d(41vw, 31px, 76px);
  background: #A5F1FF; }

@keyframes particle-animation-92 {
  50% {
    transform: translate3d(55vw, 388px, 70px); } }
.particle:nth-child(92) {
  animation: particle-animation-92 180s infinite ease-in-out;
  opacity: 0.37679;
  height: 8px;
  width: 8px;
  animation-delay: -55.2s;
  transform: translate3d(26vw, 151px, 42px);
  background: #A5F1FF; }

@keyframes particle-animation-93 {
  50% {
    transform: translate3d(9vw, 107px, 27px); } }
.particle:nth-child(93) {
  animation: particle-animation-93 180s infinite ease-in-out;
  opacity: 0.68036;
  height: 8px;
  width: 8px;
  animation-delay: -55.8s;
  transform: translate3d(93vw, 186px, 98px);
  background: #A5F1FF; }

@keyframes particle-animation-94 {
  50% {
    transform: translate3d(76vw, 154px, 65px); } }
.particle:nth-child(94) {
  animation: particle-animation-94 180s infinite ease-in-out;
  opacity: 0.37679;
  height: 6px;
  width: 6px;
  animation-delay: -56.4s;
  transform: translate3d(21vw, 67px, 39px);
  background: #A5F1FF; }

@keyframes particle-animation-95 {
  50% {
    transform: translate3d(52vw, 158px, 95px); } }
.particle:nth-child(95) {
  animation: particle-animation-95 180s infinite ease-in-out;
  opacity: 0.26964;
  height: 9px;
  width: 9px;
  animation-delay: -57s;
  transform: translate3d(13vw, 69px, 65px);
  background: #A5F1FF; }

@keyframes particle-animation-96 {
  50% {
    transform: translate3d(52vw, 328px, 20px); } }
.particle:nth-child(96) {
  animation: particle-animation-96 180s infinite ease-in-out;
  opacity: 0.61786;
  height: 6px;
  width: 6px;
  animation-delay: -57.6s;
  transform: translate3d(7vw, 49px, 40px);
  background: #A5F1FF; }

@keyframes particle-animation-97 {
  50% {
    transform: translate3d(61vw, 99px, 77px); } }
.particle:nth-child(97) {
  animation: particle-animation-97 180s infinite ease-in-out;
  opacity: 0.6;
  height: 9px;
  width: 9px;
  animation-delay: -58.2s;
  transform: translate3d(39vw, 200px, 68px);
  background: #A5F1FF; }

@keyframes particle-animation-98 {
  50% {
    transform: translate3d(53vw, 332px, 42px); } }
.particle:nth-child(98) {
  animation: particle-animation-98 180s infinite ease-in-out;
  opacity: 0.94821;
  height: 6px;
  width: 6px;
  animation-delay: -58.8s;
  transform: translate3d(78vw, 272px, 4px);
  background: #A5F1FF; }

@keyframes particle-animation-99 {
  50% {
    transform: translate3d(65vw, 2px, 16px); } }
.particle:nth-child(99) {
  animation: particle-animation-99 180s infinite ease-in-out;
  opacity: 0.11786;
  height: 7px;
  width: 7px;
  animation-delay: -59.4s;
  transform: translate3d(31vw, 277px, 22px);
  background: #A5F1FF; }

@keyframes particle-animation-100 {
  50% {
    transform: translate3d(1vw, 327px, 64px); } }
.particle:nth-child(100) {
  animation: particle-animation-100 180s infinite ease-in-out;
  opacity: 0.77857;
  height: 6px;
  width: 6px;
  animation-delay: -60s;
  transform: translate3d(11vw, 334px, 78px);
  background: #A5F1FF; }

.title {
  border-radius: 50%;
  color: #ffffff;
  transform: translatey(200px);
  animation: float 6s ease-in-out infinite;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF, 0 0 20px #A5F1FF, 0 0 30px #A5F1FF, 0 0 40px #A5F1FF; }

@keyframes float {
  0% {
    transform: translatey(200px); }
  50% {
    transform: translatey(180px); }
  100% {
    transform: translatey(200px); } }
