.particle {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF, 0 0 20px #A5F1FF, 0 0 30px #A5F1FF, 0 0 40px #A5F1FF; }

@keyframes particle-animation-1 {
  50% {
    transform: translate3d(65vw, 287px, 68px); } }
.particle:nth-child(1) {
  animation: particle-animation-1 180s infinite ease-in-out;
  opacity: 0.81429;
  height: 6px;
  width: 6px;
  animation-delay: -0.2s;
  transform: translate3d(71vw, 350px, 10px);
  background: #A5F1FF; }

@keyframes particle-animation-2 {
  50% {
    transform: translate3d(78vw, 127px, 49px); } }
.particle:nth-child(2) {
  animation: particle-animation-2 180s infinite ease-in-out;
  opacity: 0.29643;
  height: 8px;
  width: 8px;
  animation-delay: -0.4s;
  transform: translate3d(27vw, 233px, 86px);
  background: #A5F1FF; }

@keyframes particle-animation-3 {
  50% {
    transform: translate3d(29vw, 227px, 46px); } }
.particle:nth-child(3) {
  animation: particle-animation-3 180s infinite ease-in-out;
  opacity: 0.25179;
  height: 7px;
  width: 7px;
  animation-delay: -0.6s;
  transform: translate3d(34vw, 216px, 77px);
  background: #A5F1FF; }

@keyframes particle-animation-4 {
  50% {
    transform: translate3d(76vw, 28px, 67px); } }
.particle:nth-child(4) {
  animation: particle-animation-4 180s infinite ease-in-out;
  opacity: 0.99286;
  height: 8px;
  width: 8px;
  animation-delay: -0.8s;
  transform: translate3d(77vw, 380px, 43px);
  background: #A5F1FF; }

@keyframes particle-animation-5 {
  50% {
    transform: translate3d(43vw, 317px, 26px); } }
.particle:nth-child(5) {
  animation: particle-animation-5 180s infinite ease-in-out;
  opacity: 0.24286;
  height: 10px;
  width: 10px;
  animation-delay: -1s;
  transform: translate3d(24vw, 234px, 11px);
  background: #A5F1FF; }

@keyframes particle-animation-6 {
  50% {
    transform: translate3d(89vw, 370px, 61px); } }
.particle:nth-child(6) {
  animation: particle-animation-6 180s infinite ease-in-out;
  opacity: 0.85;
  height: 10px;
  width: 10px;
  animation-delay: -1.2s;
  transform: translate3d(7vw, 345px, 2px);
  background: #A5F1FF; }

@keyframes particle-animation-7 {
  50% {
    transform: translate3d(64vw, 215px, 6px); } }
.particle:nth-child(7) {
  animation: particle-animation-7 180s infinite ease-in-out;
  opacity: 0.54643;
  height: 7px;
  width: 7px;
  animation-delay: -1.4s;
  transform: translate3d(10vw, 334px, 15px);
  background: #A5F1FF; }

@keyframes particle-animation-8 {
  50% {
    transform: translate3d(86vw, 55px, 15px); } }
.particle:nth-child(8) {
  animation: particle-animation-8 180s infinite ease-in-out;
  opacity: 0.26071;
  height: 8px;
  width: 8px;
  animation-delay: -1.6s;
  transform: translate3d(69vw, 72px, 86px);
  background: #A5F1FF; }

@keyframes particle-animation-9 {
  50% {
    transform: translate3d(29vw, 340px, 53px); } }
.particle:nth-child(9) {
  animation: particle-animation-9 180s infinite ease-in-out;
  opacity: 0.62679;
  height: 6px;
  width: 6px;
  animation-delay: -1.8s;
  transform: translate3d(36vw, 148px, 21px);
  background: #A5F1FF; }

@keyframes particle-animation-10 {
  50% {
    transform: translate3d(34vw, 400px, 37px); } }
.particle:nth-child(10) {
  animation: particle-animation-10 180s infinite ease-in-out;
  opacity: 0.14464;
  height: 6px;
  width: 6px;
  animation-delay: -2s;
  transform: translate3d(44vw, 180px, 69px);
  background: #A5F1FF; }

@keyframes particle-animation-11 {
  50% {
    transform: translate3d(91vw, 380px, 4px); } }
.particle:nth-child(11) {
  animation: particle-animation-11 180s infinite ease-in-out;
  opacity: 0.6;
  height: 10px;
  width: 10px;
  animation-delay: -2.2s;
  transform: translate3d(60vw, 17px, 91px);
  background: #A5F1FF; }

@keyframes particle-animation-12 {
  50% {
    transform: translate3d(3vw, 392px, 2px); } }
.particle:nth-child(12) {
  animation: particle-animation-12 180s infinite ease-in-out;
  opacity: 0.475;
  height: 6px;
  width: 6px;
  animation-delay: -2.4s;
  transform: translate3d(67vw, 8px, 64px);
  background: #A5F1FF; }

@keyframes particle-animation-13 {
  50% {
    transform: translate3d(9vw, 113px, 90px); } }
.particle:nth-child(13) {
  animation: particle-animation-13 180s infinite ease-in-out;
  opacity: 0.81429;
  height: 7px;
  width: 7px;
  animation-delay: -2.6s;
  transform: translate3d(25vw, 106px, 80px);
  background: #A5F1FF; }

@keyframes particle-animation-14 {
  50% {
    transform: translate3d(23vw, 337px, 75px); } }
.particle:nth-child(14) {
  animation: particle-animation-14 180s infinite ease-in-out;
  opacity: 0.975;
  height: 8px;
  width: 8px;
  animation-delay: -2.8s;
  transform: translate3d(23vw, 249px, 2px);
  background: #A5F1FF; }

@keyframes particle-animation-15 {
  50% {
    transform: translate3d(84vw, 269px, 98px); } }
.particle:nth-child(15) {
  animation: particle-animation-15 180s infinite ease-in-out;
  opacity: 0.96607;
  height: 7px;
  width: 7px;
  animation-delay: -3s;
  transform: translate3d(74vw, 155px, 29px);
  background: #A5F1FF; }

@keyframes particle-animation-16 {
  50% {
    transform: translate3d(58vw, 389px, 43px); } }
.particle:nth-child(16) {
  animation: particle-animation-16 180s infinite ease-in-out;
  opacity: 0.76964;
  height: 8px;
  width: 8px;
  animation-delay: -3.2s;
  transform: translate3d(92vw, 279px, 8px);
  background: #A5F1FF; }

@keyframes particle-animation-17 {
  50% {
    transform: translate3d(34vw, 11px, 64px); } }
.particle:nth-child(17) {
  animation: particle-animation-17 180s infinite ease-in-out;
  opacity: 0.50179;
  height: 9px;
  width: 9px;
  animation-delay: -3.4s;
  transform: translate3d(96vw, 90px, 31px);
  background: #A5F1FF; }

@keyframes particle-animation-18 {
  50% {
    transform: translate3d(16vw, 226px, 47px); } }
.particle:nth-child(18) {
  animation: particle-animation-18 180s infinite ease-in-out;
  opacity: 0.45714;
  height: 10px;
  width: 10px;
  animation-delay: -3.6s;
  transform: translate3d(39vw, 120px, 58px);
  background: #A5F1FF; }

@keyframes particle-animation-19 {
  50% {
    transform: translate3d(42vw, 117px, 71px); } }
.particle:nth-child(19) {
  animation: particle-animation-19 180s infinite ease-in-out;
  opacity: 0.87679;
  height: 7px;
  width: 7px;
  animation-delay: -3.8s;
  transform: translate3d(98vw, 56px, 24px);
  background: #A5F1FF; }

@keyframes particle-animation-20 {
  50% {
    transform: translate3d(59vw, 236px, 95px); } }
.particle:nth-child(20) {
  animation: particle-animation-20 180s infinite ease-in-out;
  opacity: 0.54643;
  height: 8px;
  width: 8px;
  animation-delay: -4s;
  transform: translate3d(96vw, 204px, 40px);
  background: #A5F1FF; }

@keyframes particle-animation-21 {
  50% {
    transform: translate3d(58vw, 81px, 68px); } }
.particle:nth-child(21) {
  animation: particle-animation-21 180s infinite ease-in-out;
  opacity: 0.43036;
  height: 7px;
  width: 7px;
  animation-delay: -4.2s;
  transform: translate3d(77vw, 380px, 48px);
  background: #A5F1FF; }

@keyframes particle-animation-22 {
  50% {
    transform: translate3d(52vw, 292px, 22px); } }
.particle:nth-child(22) {
  animation: particle-animation-22 180s infinite ease-in-out;
  opacity: 0.38571;
  height: 7px;
  width: 7px;
  animation-delay: -4.4s;
  transform: translate3d(53vw, 7px, 23px);
  background: #A5F1FF; }

@keyframes particle-animation-23 {
  50% {
    transform: translate3d(23vw, 290px, 75px); } }
.particle:nth-child(23) {
  animation: particle-animation-23 180s infinite ease-in-out;
  opacity: 0.39464;
  height: 6px;
  width: 6px;
  animation-delay: -4.6s;
  transform: translate3d(38vw, 225px, 3px);
  background: #A5F1FF; }

@keyframes particle-animation-24 {
  50% {
    transform: translate3d(43vw, 83px, 86px); } }
.particle:nth-child(24) {
  animation: particle-animation-24 180s infinite ease-in-out;
  opacity: 0.20714;
  height: 8px;
  width: 8px;
  animation-delay: -4.8s;
  transform: translate3d(47vw, 16px, 83px);
  background: #A5F1FF; }

@keyframes particle-animation-25 {
  50% {
    transform: translate3d(71vw, 84px, 44px); } }
.particle:nth-child(25) {
  animation: particle-animation-25 180s infinite ease-in-out;
  opacity: 0.89464;
  height: 8px;
  width: 8px;
  animation-delay: -5s;
  transform: translate3d(44vw, 87px, 28px);
  background: #A5F1FF; }

@keyframes particle-animation-26 {
  50% {
    transform: translate3d(67vw, 181px, 82px); } }
.particle:nth-child(26) {
  animation: particle-animation-26 180s infinite ease-in-out;
  opacity: 0.57321;
  height: 9px;
  width: 9px;
  animation-delay: -5.2s;
  transform: translate3d(32vw, 393px, 25px);
  background: #A5F1FF; }

@keyframes particle-animation-27 {
  50% {
    transform: translate3d(73vw, 209px, 17px); } }
.particle:nth-child(27) {
  animation: particle-animation-27 180s infinite ease-in-out;
  opacity: 0.25179;
  height: 8px;
  width: 8px;
  animation-delay: -5.4s;
  transform: translate3d(66vw, 34px, 11px);
  background: #A5F1FF; }

@keyframes particle-animation-28 {
  50% {
    transform: translate3d(42vw, 71px, 84px); } }
.particle:nth-child(28) {
  animation: particle-animation-28 180s infinite ease-in-out;
  opacity: 0.99286;
  height: 10px;
  width: 10px;
  animation-delay: -5.6s;
  transform: translate3d(67vw, 379px, 10px);
  background: #A5F1FF; }

@keyframes particle-animation-29 {
  50% {
    transform: translate3d(65vw, 187px, 36px); } }
.particle:nth-child(29) {
  animation: particle-animation-29 180s infinite ease-in-out;
  opacity: 0.40357;
  height: 10px;
  width: 10px;
  animation-delay: -5.8s;
  transform: translate3d(85vw, 7px, 65px);
  background: #A5F1FF; }

@keyframes particle-animation-30 {
  50% {
    transform: translate3d(42vw, 119px, 77px); } }
.particle:nth-child(30) {
  animation: particle-animation-30 180s infinite ease-in-out;
  opacity: 0.99286;
  height: 6px;
  width: 6px;
  animation-delay: -6s;
  transform: translate3d(86vw, 88px, 30px);
  background: #A5F1FF; }

@keyframes particle-animation-31 {
  50% {
    transform: translate3d(7vw, 178px, 24px); } }
.particle:nth-child(31) {
  animation: particle-animation-31 180s infinite ease-in-out;
  opacity: 0.84107;
  height: 7px;
  width: 7px;
  animation-delay: -6.2s;
  transform: translate3d(15vw, 318px, 4px);
  background: #A5F1FF; }

@keyframes particle-animation-32 {
  50% {
    transform: translate3d(4vw, 393px, 35px); } }
.particle:nth-child(32) {
  animation: particle-animation-32 180s infinite ease-in-out;
  opacity: 0.85893;
  height: 6px;
  width: 6px;
  animation-delay: -6.4s;
  transform: translate3d(89vw, 180px, 29px);
  background: #A5F1FF; }

@keyframes particle-animation-33 {
  50% {
    transform: translate3d(71vw, 202px, 66px); } }
.particle:nth-child(33) {
  animation: particle-animation-33 180s infinite ease-in-out;
  opacity: 0.61786;
  height: 8px;
  width: 8px;
  animation-delay: -6.6s;
  transform: translate3d(27vw, 167px, 89px);
  background: #A5F1FF; }

@keyframes particle-animation-34 {
  50% {
    transform: translate3d(26vw, 291px, 22px); } }
.particle:nth-child(34) {
  animation: particle-animation-34 180s infinite ease-in-out;
  opacity: 0.5375;
  height: 7px;
  width: 7px;
  animation-delay: -6.8s;
  transform: translate3d(81vw, 206px, 63px);
  background: #A5F1FF; }

@keyframes particle-animation-35 {
  50% {
    transform: translate3d(29vw, 72px, 15px); } }
.particle:nth-child(35) {
  animation: particle-animation-35 180s infinite ease-in-out;
  opacity: 0.73393;
  height: 6px;
  width: 6px;
  animation-delay: -7s;
  transform: translate3d(64vw, 180px, 81px);
  background: #A5F1FF; }

@keyframes particle-animation-36 {
  50% {
    transform: translate3d(65vw, 87px, 11px); } }
.particle:nth-child(36) {
  animation: particle-animation-36 180s infinite ease-in-out;
  opacity: 0.86786;
  height: 6px;
  width: 6px;
  animation-delay: -7.2s;
  transform: translate3d(9vw, 27px, 93px);
  background: #A5F1FF; }

@keyframes particle-animation-37 {
  50% {
    transform: translate3d(50vw, 128px, 48px); } }
.particle:nth-child(37) {
  animation: particle-animation-37 180s infinite ease-in-out;
  opacity: 0.18929;
  height: 7px;
  width: 7px;
  animation-delay: -7.4s;
  transform: translate3d(14vw, 169px, 60px);
  background: #A5F1FF; }

@keyframes particle-animation-38 {
  50% {
    transform: translate3d(52vw, 258px, 22px); } }
.particle:nth-child(38) {
  animation: particle-animation-38 180s infinite ease-in-out;
  opacity: 0.35893;
  height: 10px;
  width: 10px;
  animation-delay: -7.6s;
  transform: translate3d(50vw, 164px, 24px);
  background: #A5F1FF; }

@keyframes particle-animation-39 {
  50% {
    transform: translate3d(8vw, 66px, 90px); } }
.particle:nth-child(39) {
  animation: particle-animation-39 180s infinite ease-in-out;
  opacity: 0.85893;
  height: 9px;
  width: 9px;
  animation-delay: -7.8s;
  transform: translate3d(18vw, 15px, 28px);
  background: #A5F1FF; }

@keyframes particle-animation-40 {
  50% {
    transform: translate3d(65vw, 399px, 93px); } }
.particle:nth-child(40) {
  animation: particle-animation-40 180s infinite ease-in-out;
  opacity: 0.34107;
  height: 9px;
  width: 9px;
  animation-delay: -8s;
  transform: translate3d(20vw, 142px, 94px);
  background: #A5F1FF; }

@keyframes particle-animation-41 {
  50% {
    transform: translate3d(52vw, 24px, 93px); } }
.particle:nth-child(41) {
  animation: particle-animation-41 180s infinite ease-in-out;
  opacity: 0.5375;
  height: 7px;
  width: 7px;
  animation-delay: -8.2s;
  transform: translate3d(72vw, 142px, 81px);
  background: #A5F1FF; }

@keyframes particle-animation-42 {
  50% {
    transform: translate3d(59vw, 17px, 51px); } }
.particle:nth-child(42) {
  animation: particle-animation-42 180s infinite ease-in-out;
  opacity: 0.68036;
  height: 9px;
  width: 9px;
  animation-delay: -8.4s;
  transform: translate3d(69vw, 134px, 4px);
  background: #A5F1FF; }

@keyframes particle-animation-43 {
  50% {
    transform: translate3d(97vw, 218px, 23px); } }
.particle:nth-child(43) {
  animation: particle-animation-43 180s infinite ease-in-out;
  opacity: 0.23393;
  height: 7px;
  width: 7px;
  animation-delay: -8.6s;
  transform: translate3d(57vw, 330px, 52px);
  background: #A5F1FF; }

@keyframes particle-animation-44 {
  50% {
    transform: translate3d(3vw, 215px, 46px); } }
.particle:nth-child(44) {
  animation: particle-animation-44 180s infinite ease-in-out;
  opacity: 0.63571;
  height: 8px;
  width: 8px;
  animation-delay: -8.8s;
  transform: translate3d(93vw, 295px, 22px);
  background: #A5F1FF; }

@keyframes particle-animation-45 {
  50% {
    transform: translate3d(6vw, 396px, 92px); } }
.particle:nth-child(45) {
  animation: particle-animation-45 180s infinite ease-in-out;
  opacity: 0.63571;
  height: 6px;
  width: 6px;
  animation-delay: -9s;
  transform: translate3d(28vw, 285px, 88px);
  background: #A5F1FF; }

@keyframes particle-animation-46 {
  50% {
    transform: translate3d(86vw, 6px, 32px); } }
.particle:nth-child(46) {
  animation: particle-animation-46 180s infinite ease-in-out;
  opacity: 0.49286;
  height: 7px;
  width: 7px;
  animation-delay: -9.2s;
  transform: translate3d(61vw, 328px, 90px);
  background: #A5F1FF; }

@keyframes particle-animation-47 {
  50% {
    transform: translate3d(14vw, 285px, 33px); } }
.particle:nth-child(47) {
  animation: particle-animation-47 180s infinite ease-in-out;
  opacity: 0.475;
  height: 8px;
  width: 8px;
  animation-delay: -9.4s;
  transform: translate3d(91vw, 208px, 32px);
  background: #A5F1FF; }

@keyframes particle-animation-48 {
  50% {
    transform: translate3d(16vw, 321px, 10px); } }
.particle:nth-child(48) {
  animation: particle-animation-48 180s infinite ease-in-out;
  opacity: 0.69821;
  height: 10px;
  width: 10px;
  animation-delay: -9.6s;
  transform: translate3d(61vw, 324px, 28px);
  background: #A5F1FF; }

@keyframes particle-animation-49 {
  50% {
    transform: translate3d(16vw, 334px, 1px); } }
.particle:nth-child(49) {
  animation: particle-animation-49 180s infinite ease-in-out;
  opacity: 0.63571;
  height: 7px;
  width: 7px;
  animation-delay: -9.8s;
  transform: translate3d(79vw, 173px, 58px);
  background: #A5F1FF; }

@keyframes particle-animation-50 {
  50% {
    transform: translate3d(51vw, 141px, 3px); } }
.particle:nth-child(50) {
  animation: particle-animation-50 180s infinite ease-in-out;
  opacity: 0.52857;
  height: 10px;
  width: 10px;
  animation-delay: -10s;
  transform: translate3d(5vw, 54px, 27px);
  background: #A5F1FF; }

@keyframes particle-animation-51 {
  50% {
    transform: translate3d(67vw, 118px, 76px); } }
.particle:nth-child(51) {
  animation: particle-animation-51 180s infinite ease-in-out;
  opacity: 0.25179;
  height: 9px;
  width: 9px;
  animation-delay: -10.2s;
  transform: translate3d(19vw, 49px, 57px);
  background: #A5F1FF; }

@keyframes particle-animation-52 {
  50% {
    transform: translate3d(9vw, 261px, 46px); } }
.particle:nth-child(52) {
  animation: particle-animation-52 180s infinite ease-in-out;
  opacity: 0.85893;
  height: 9px;
  width: 9px;
  animation-delay: -10.4s;
  transform: translate3d(11vw, 73px, 100px);
  background: #A5F1FF; }

@keyframes particle-animation-53 {
  50% {
    transform: translate3d(62vw, 337px, 91px); } }
.particle:nth-child(53) {
  animation: particle-animation-53 180s infinite ease-in-out;
  opacity: 0.95714;
  height: 7px;
  width: 7px;
  animation-delay: -10.6s;
  transform: translate3d(30vw, 250px, 65px);
  background: #A5F1FF; }

@keyframes particle-animation-54 {
  50% {
    transform: translate3d(32vw, 196px, 72px); } }
.particle:nth-child(54) {
  animation: particle-animation-54 180s infinite ease-in-out;
  opacity: 0.10893;
  height: 10px;
  width: 10px;
  animation-delay: -10.8s;
  transform: translate3d(8vw, 328px, 50px);
  background: #A5F1FF; }

@keyframes particle-animation-55 {
  50% {
    transform: translate3d(20vw, 11px, 11px); } }
.particle:nth-child(55) {
  animation: particle-animation-55 180s infinite ease-in-out;
  opacity: 0.9125;
  height: 7px;
  width: 7px;
  animation-delay: -11s;
  transform: translate3d(9vw, 66px, 52px);
  background: #A5F1FF; }

@keyframes particle-animation-56 {
  50% {
    transform: translate3d(93vw, 297px, 56px); } }
.particle:nth-child(56) {
  animation: particle-animation-56 180s infinite ease-in-out;
  opacity: 0.73393;
  height: 10px;
  width: 10px;
  animation-delay: -11.2s;
  transform: translate3d(65vw, 34px, 77px);
  background: #A5F1FF; }

@keyframes particle-animation-57 {
  50% {
    transform: translate3d(21vw, 136px, 82px); } }
.particle:nth-child(57) {
  animation: particle-animation-57 180s infinite ease-in-out;
  opacity: 0.44821;
  height: 9px;
  width: 9px;
  animation-delay: -11.4s;
  transform: translate3d(16vw, 202px, 63px);
  background: #A5F1FF; }

@keyframes particle-animation-58 {
  50% {
    transform: translate3d(35vw, 139px, 33px); } }
.particle:nth-child(58) {
  animation: particle-animation-58 180s infinite ease-in-out;
  opacity: 0.35;
  height: 8px;
  width: 8px;
  animation-delay: -11.6s;
  transform: translate3d(6vw, 209px, 60px);
  background: #A5F1FF; }

@keyframes particle-animation-59 {
  50% {
    transform: translate3d(28vw, 75px, 15px); } }
.particle:nth-child(59) {
  animation: particle-animation-59 180s infinite ease-in-out;
  opacity: 0.51071;
  height: 9px;
  width: 9px;
  animation-delay: -11.8s;
  transform: translate3d(13vw, 192px, 7px);
  background: #A5F1FF; }

@keyframes particle-animation-60 {
  50% {
    transform: translate3d(46vw, 130px, 68px); } }
.particle:nth-child(60) {
  animation: particle-animation-60 180s infinite ease-in-out;
  opacity: 0.10893;
  height: 7px;
  width: 7px;
  animation-delay: -12s;
  transform: translate3d(64vw, 47px, 12px);
  background: #A5F1FF; }

@keyframes particle-animation-61 {
  50% {
    transform: translate3d(45vw, 206px, 47px); } }
.particle:nth-child(61) {
  animation: particle-animation-61 180s infinite ease-in-out;
  opacity: 0.75179;
  height: 9px;
  width: 9px;
  animation-delay: -12.2s;
  transform: translate3d(69vw, 157px, 87px);
  background: #A5F1FF; }

@keyframes particle-animation-62 {
  50% {
    transform: translate3d(82vw, 366px, 70px); } }
.particle:nth-child(62) {
  animation: particle-animation-62 180s infinite ease-in-out;
  opacity: 0.87679;
  height: 7px;
  width: 7px;
  animation-delay: -12.4s;
  transform: translate3d(7vw, 63px, 10px);
  background: #A5F1FF; }

@keyframes particle-animation-63 {
  50% {
    transform: translate3d(47vw, 119px, 65px); } }
.particle:nth-child(63) {
  animation: particle-animation-63 180s infinite ease-in-out;
  opacity: 0.69821;
  height: 8px;
  width: 8px;
  animation-delay: -12.6s;
  transform: translate3d(87vw, 303px, 94px);
  background: #A5F1FF; }

@keyframes particle-animation-64 {
  50% {
    transform: translate3d(73vw, 257px, 22px); } }
.particle:nth-child(64) {
  animation: particle-animation-64 180s infinite ease-in-out;
  opacity: 0.83214;
  height: 10px;
  width: 10px;
  animation-delay: -12.8s;
  transform: translate3d(68vw, 287px, 38px);
  background: #A5F1FF; }

@keyframes particle-animation-65 {
  50% {
    transform: translate3d(76vw, 291px, 47px); } }
.particle:nth-child(65) {
  animation: particle-animation-65 180s infinite ease-in-out;
  opacity: 0.89464;
  height: 10px;
  width: 10px;
  animation-delay: -13s;
  transform: translate3d(11vw, 148px, 22px);
  background: #A5F1FF; }

@keyframes particle-animation-66 {
  50% {
    transform: translate3d(39vw, 61px, 25px); } }
.particle:nth-child(66) {
  animation: particle-animation-66 180s infinite ease-in-out;
  opacity: 0.475;
  height: 6px;
  width: 6px;
  animation-delay: -13.2s;
  transform: translate3d(64vw, 286px, 52px);
  background: #A5F1FF; }

@keyframes particle-animation-67 {
  50% {
    transform: translate3d(37vw, 19px, 37px); } }
.particle:nth-child(67) {
  animation: particle-animation-67 180s infinite ease-in-out;
  opacity: 0.94821;
  height: 9px;
  width: 9px;
  animation-delay: -13.4s;
  transform: translate3d(14vw, 353px, 39px);
  background: #A5F1FF; }

@keyframes particle-animation-68 {
  50% {
    transform: translate3d(10vw, 360px, 67px); } }
.particle:nth-child(68) {
  animation: particle-animation-68 180s infinite ease-in-out;
  opacity: 0.59107;
  height: 9px;
  width: 9px;
  animation-delay: -13.6s;
  transform: translate3d(42vw, 173px, 84px);
  background: #A5F1FF; }

@keyframes particle-animation-69 {
  50% {
    transform: translate3d(36vw, 220px, 61px); } }
.particle:nth-child(69) {
  animation: particle-animation-69 180s infinite ease-in-out;
  opacity: 0.96607;
  height: 10px;
  width: 10px;
  animation-delay: -13.8s;
  transform: translate3d(28vw, 125px, 49px);
  background: #A5F1FF; }

@keyframes particle-animation-70 {
  50% {
    transform: translate3d(70vw, 293px, 53px); } }
.particle:nth-child(70) {
  animation: particle-animation-70 180s infinite ease-in-out;
  opacity: 0.94821;
  height: 7px;
  width: 7px;
  animation-delay: -14s;
  transform: translate3d(62vw, 65px, 56px);
  background: #A5F1FF; }

@keyframes particle-animation-71 {
  50% {
    transform: translate3d(64vw, 141px, 41px); } }
.particle:nth-child(71) {
  animation: particle-animation-71 180s infinite ease-in-out;
  opacity: 0.75179;
  height: 8px;
  width: 8px;
  animation-delay: -14.2s;
  transform: translate3d(23vw, 382px, 32px);
  background: #A5F1FF; }

@keyframes particle-animation-72 {
  50% {
    transform: translate3d(78vw, 1px, 19px); } }
.particle:nth-child(72) {
  animation: particle-animation-72 180s infinite ease-in-out;
  opacity: 0.85;
  height: 8px;
  width: 8px;
  animation-delay: -14.4s;
  transform: translate3d(97vw, 217px, 65px);
  background: #A5F1FF; }

@keyframes particle-animation-73 {
  50% {
    transform: translate3d(53vw, 28px, 8px); } }
.particle:nth-child(73) {
  animation: particle-animation-73 180s infinite ease-in-out;
  opacity: 0.26964;
  height: 7px;
  width: 7px;
  animation-delay: -14.6s;
  transform: translate3d(15vw, 339px, 21px);
  background: #A5F1FF; }

@keyframes particle-animation-74 {
  50% {
    transform: translate3d(3vw, 308px, 27px); } }
.particle:nth-child(74) {
  animation: particle-animation-74 180s infinite ease-in-out;
  opacity: 0.76964;
  height: 7px;
  width: 7px;
  animation-delay: -14.8s;
  transform: translate3d(24vw, 36px, 25px);
  background: #A5F1FF; }

@keyframes particle-animation-75 {
  50% {
    transform: translate3d(65vw, 275px, 60px); } }
.particle:nth-child(75) {
  animation: particle-animation-75 180s infinite ease-in-out;
  opacity: 0.2875;
  height: 8px;
  width: 8px;
  animation-delay: -15s;
  transform: translate3d(72vw, 313px, 84px);
  background: #A5F1FF; }

@keyframes particle-animation-76 {
  50% {
    transform: translate3d(22vw, 125px, 12px); } }
.particle:nth-child(76) {
  animation: particle-animation-76 180s infinite ease-in-out;
  opacity: 0.45714;
  height: 10px;
  width: 10px;
  animation-delay: -15.2s;
  transform: translate3d(80vw, 328px, 81px);
  background: #A5F1FF; }

@keyframes particle-animation-77 {
  50% {
    transform: translate3d(88vw, 270px, 30px); } }
.particle:nth-child(77) {
  animation: particle-animation-77 180s infinite ease-in-out;
  opacity: 0.77857;
  height: 6px;
  width: 6px;
  animation-delay: -15.4s;
  transform: translate3d(81vw, 150px, 2px);
  background: #A5F1FF; }

@keyframes particle-animation-78 {
  50% {
    transform: translate3d(90vw, 254px, 70px); } }
.particle:nth-child(78) {
  animation: particle-animation-78 180s infinite ease-in-out;
  opacity: 0.99286;
  height: 6px;
  width: 6px;
  animation-delay: -15.6s;
  transform: translate3d(18vw, 368px, 72px);
  background: #A5F1FF; }

@keyframes particle-animation-79 {
  50% {
    transform: translate3d(100vw, 135px, 60px); } }
.particle:nth-child(79) {
  animation: particle-animation-79 180s infinite ease-in-out;
  opacity: 0.71607;
  height: 6px;
  width: 6px;
  animation-delay: -15.8s;
  transform: translate3d(93vw, 72px, 45px);
  background: #A5F1FF; }

@keyframes particle-animation-80 {
  50% {
    transform: translate3d(27vw, 31px, 75px); } }
.particle:nth-child(80) {
  animation: particle-animation-80 180s infinite ease-in-out;
  opacity: 0.71607;
  height: 10px;
  width: 10px;
  animation-delay: -16s;
  transform: translate3d(73vw, 139px, 35px);
  background: #A5F1FF; }

@keyframes particle-animation-81 {
  50% {
    transform: translate3d(63vw, 52px, 33px); } }
.particle:nth-child(81) {
  animation: particle-animation-81 180s infinite ease-in-out;
  opacity: 0.68036;
  height: 7px;
  width: 7px;
  animation-delay: -16.2s;
  transform: translate3d(93vw, 6px, 81px);
  background: #A5F1FF; }

@keyframes particle-animation-82 {
  50% {
    transform: translate3d(72vw, 260px, 5px); } }
.particle:nth-child(82) {
  animation: particle-animation-82 180s infinite ease-in-out;
  opacity: 0.13571;
  height: 6px;
  width: 6px;
  animation-delay: -16.4s;
  transform: translate3d(49vw, 49px, 55px);
  background: #A5F1FF; }

@keyframes particle-animation-83 {
  50% {
    transform: translate3d(22vw, 306px, 17px); } }
.particle:nth-child(83) {
  animation: particle-animation-83 180s infinite ease-in-out;
  opacity: 0.89464;
  height: 7px;
  width: 7px;
  animation-delay: -16.6s;
  transform: translate3d(99vw, 341px, 78px);
  background: #A5F1FF; }

@keyframes particle-animation-84 {
  50% {
    transform: translate3d(25vw, 175px, 47px); } }
.particle:nth-child(84) {
  animation: particle-animation-84 180s infinite ease-in-out;
  opacity: 0.95714;
  height: 10px;
  width: 10px;
  animation-delay: -16.8s;
  transform: translate3d(8vw, 355px, 18px);
  background: #A5F1FF; }

@keyframes particle-animation-85 {
  50% {
    transform: translate3d(94vw, 90px, 72px); } }
.particle:nth-child(85) {
  animation: particle-animation-85 180s infinite ease-in-out;
  opacity: 0.85893;
  height: 8px;
  width: 8px;
  animation-delay: -17s;
  transform: translate3d(69vw, 75px, 3px);
  background: #A5F1FF; }

@keyframes particle-animation-86 {
  50% {
    transform: translate3d(91vw, 106px, 63px); } }
.particle:nth-child(86) {
  animation: particle-animation-86 180s infinite ease-in-out;
  opacity: 0.85893;
  height: 9px;
  width: 9px;
  animation-delay: -17.2s;
  transform: translate3d(3vw, 71px, 48px);
  background: #A5F1FF; }

@keyframes particle-animation-87 {
  50% {
    transform: translate3d(78vw, 111px, 79px); } }
.particle:nth-child(87) {
  animation: particle-animation-87 180s infinite ease-in-out;
  opacity: 0.1625;
  height: 7px;
  width: 7px;
  animation-delay: -17.4s;
  transform: translate3d(51vw, 255px, 93px);
  background: #A5F1FF; }

@keyframes particle-animation-88 {
  50% {
    transform: translate3d(19vw, 339px, 32px); } }
.particle:nth-child(88) {
  animation: particle-animation-88 180s infinite ease-in-out;
  opacity: 0.45714;
  height: 9px;
  width: 9px;
  animation-delay: -17.6s;
  transform: translate3d(30vw, 76px, 5px);
  background: #A5F1FF; }

@keyframes particle-animation-89 {
  50% {
    transform: translate3d(38vw, 389px, 14px); } }
.particle:nth-child(89) {
  animation: particle-animation-89 180s infinite ease-in-out;
  opacity: 0.58214;
  height: 9px;
  width: 9px;
  animation-delay: -17.8s;
  transform: translate3d(7vw, 385px, 51px);
  background: #A5F1FF; }

@keyframes particle-animation-90 {
  50% {
    transform: translate3d(53vw, 137px, 49px); } }
.particle:nth-child(90) {
  animation: particle-animation-90 180s infinite ease-in-out;
  opacity: 0.35893;
  height: 8px;
  width: 8px;
  animation-delay: -18s;
  transform: translate3d(41vw, 145px, 80px);
  background: #A5F1FF; }

@keyframes particle-animation-91 {
  50% {
    transform: translate3d(6vw, 286px, 48px); } }
.particle:nth-child(91) {
  animation: particle-animation-91 180s infinite ease-in-out;
  opacity: 0.23393;
  height: 7px;
  width: 7px;
  animation-delay: -18.2s;
  transform: translate3d(73vw, 206px, 19px);
  background: #A5F1FF; }

@keyframes particle-animation-92 {
  50% {
    transform: translate3d(69vw, 186px, 1px); } }
.particle:nth-child(92) {
  animation: particle-animation-92 180s infinite ease-in-out;
  opacity: 0.29643;
  height: 8px;
  width: 8px;
  animation-delay: -18.4s;
  transform: translate3d(15vw, 351px, 32px);
  background: #A5F1FF; }

@keyframes particle-animation-93 {
  50% {
    transform: translate3d(18vw, 400px, 19px); } }
.particle:nth-child(93) {
  animation: particle-animation-93 180s infinite ease-in-out;
  opacity: 0.19821;
  height: 8px;
  width: 8px;
  animation-delay: -18.6s;
  transform: translate3d(29vw, 130px, 35px);
  background: #A5F1FF; }

@keyframes particle-animation-94 {
  50% {
    transform: translate3d(46vw, 316px, 64px); } }
.particle:nth-child(94) {
  animation: particle-animation-94 180s infinite ease-in-out;
  opacity: 0.80536;
  height: 8px;
  width: 8px;
  animation-delay: -18.8s;
  transform: translate3d(73vw, 244px, 95px);
  background: #A5F1FF; }

@keyframes particle-animation-95 {
  50% {
    transform: translate3d(19vw, 173px, 30px); } }
.particle:nth-child(95) {
  animation: particle-animation-95 180s infinite ease-in-out;
  opacity: 0.93929;
  height: 10px;
  width: 10px;
  animation-delay: -19s;
  transform: translate3d(36vw, 269px, 90px);
  background: #A5F1FF; }

@keyframes particle-animation-96 {
  50% {
    transform: translate3d(65vw, 388px, 47px); } }
.particle:nth-child(96) {
  animation: particle-animation-96 180s infinite ease-in-out;
  opacity: 0.51071;
  height: 9px;
  width: 9px;
  animation-delay: -19.2s;
  transform: translate3d(68vw, 247px, 54px);
  background: #A5F1FF; }

@keyframes particle-animation-97 {
  50% {
    transform: translate3d(89vw, 198px, 31px); } }
.particle:nth-child(97) {
  animation: particle-animation-97 180s infinite ease-in-out;
  opacity: 0.75179;
  height: 10px;
  width: 10px;
  animation-delay: -19.4s;
  transform: translate3d(70vw, 323px, 60px);
  background: #A5F1FF; }

@keyframes particle-animation-98 {
  50% {
    transform: translate3d(73vw, 208px, 2px); } }
.particle:nth-child(98) {
  animation: particle-animation-98 180s infinite ease-in-out;
  opacity: 0.75179;
  height: 6px;
  width: 6px;
  animation-delay: -19.6s;
  transform: translate3d(80vw, 237px, 74px);
  background: #A5F1FF; }

@keyframes particle-animation-99 {
  50% {
    transform: translate3d(75vw, 300px, 44px); } }
.particle:nth-child(99) {
  animation: particle-animation-99 180s infinite ease-in-out;
  opacity: 0.725;
  height: 6px;
  width: 6px;
  animation-delay: -19.8s;
  transform: translate3d(72vw, 109px, 76px);
  background: #A5F1FF; }

@keyframes particle-animation-100 {
  50% {
    transform: translate3d(83vw, 34px, 34px); } }
.particle:nth-child(100) {
  animation: particle-animation-100 180s infinite ease-in-out;
  opacity: 0.20714;
  height: 10px;
  width: 10px;
  animation-delay: -20s;
  transform: translate3d(26vw, 152px, 42px);
  background: #A5F1FF; }

.title {
  border-radius: 50%;
  color: #ffffff;
  transform: translatey(200px);
  animation: float 6s ease-in-out infinite;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF, 0 0 20px #A5F1FF, 0 0 30px #A5F1FF, 0 0 40px #A5F1FF; }

@keyframes float {
  0% {
    transform: translatey(200px); }
  50% {
    transform: translatey(180px); }
  100% {
    transform: translatey(200px); } }
