/* Navbar */
.navbar 
{
    background-color: #000000;
    border-bottom: 1px solid #49443d;
    border-top: 1px solid #49443d;
    text-align: center;
    width: 100%;
}

/* Menu in the bar inline*/
.menu 
{
    display: inline-block;
}

/* The Menu text*/
.menu a 
{
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
}

/* Dropdown-content: foreground, absulute pos, hidden in the beginig*/
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #000000;
    border: 1px solid #49443d;
    min-width: 160px;
    z-index: 1;
}

/* The Dropdown-content text*/
.dropdown-content a 
{
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Menu text hover or dropdown.content text hover */
.menu a:hover, .menu:hover, .dropdown-content a:hover
{
  background-color: #5f553f;
  color: black;
}

/* Show Dropdown-contents when the Menu hovered  */
.menu:hover .dropdown-content 
{
  display: block;
}

/* Fix BackGround */
.fix-background
{
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.fix-background:before
{
    background: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.article
{
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
}

.entry-title
{
    border: 2px solid #fcfbf9;
    border-bottom: 0;
    border-top: 0;
    color: #fcfbf9;
    display: inline-block;
    max-width: 100%;
    padding: 0.75rem 1.5rem 0.85rem;
    position: relative;
    text-transform: uppercase;
    word-break: break-word;
    word-wrap: break-word;
    position: relative;
    font-size: 24px;
}

.entry-title:before, .entry-title:after
{
    border-bottom: 2px solid #fcfbf9;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 50px;
    box-shadow: 10px 5px #fcfbf9;
}

.entry-title:before
{
    left: 0;
    top: 0;
}

.entry-title:after
{
    right: 0;
    bottom: 0;
}

.entry-content
{
    display: block;
    position: relative;
    color: #fcfbf9;
    background-color: rgba(0,0,0,0.2);
    margin: auto;
    width: 50%;
    box-shadow: 0px 0px 10px 15px rgba(1,1,1,0.2);
    font-family: Lora, Georgia, serif;
    font-size: 18px;
    text-align: left;
    margin-top: 30px;
}

.entry-content a
{
    color: #83b6cc;
    text-decoration: none;
}

.entry-content a:hover
{
    color: #e9d5c0;
    border-bottom: 2px groove;
}


.site-footer
{
    color: #83b666;
    display: block;
    font-family: Lora, Georgia, serif;
    font-size: 18px;
    position: relative;
    text-align: center;
}

.sticky 
{
    position: fixed;
    top: 0;
    z-index: 1000;
}